<div class="dockContainer">
<div class="dockWrapper">
<div class="cap left"></div>
<ul class="osx-dock">
<li class="active">
<span>ZURB</span>
<a href="http://www.zurb.com" title="ZURB"><img alt="Zurb icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>LinkedIn</span>
<a href="http://www.linkedin.com" title="LinkedIn"><img alt="Linkedin icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>Notable</span>
<a href="http://www.notableapp.com" title="Notable"><img alt="Notable icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>last.fm</span>
<a href="http://www.last.fm" title="Last.fm"><img alt="Lastfm icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>Facebook</span>
<a href="http://www.facebook.com" title="Facebook"><img alt="Facebook icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>Google</span>
<a href="http://www.google.com" title="Google"><img alt="Google icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>Notable</span>
<a href="http://www.notableapp.com" title="Notable"><img alt="Notable icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>last.fm</span>
<a href="http://www.last.fm" title="Last.fm"><img alt="Lastfm icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>Facebook</span>
<a href="http://www.facebook.com" title="Facebook"><img alt="Facebook icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
<li class="">
<span>Google</span>
<a href="http://www.google.com" title="Google"><img alt="Google icon" src="http://www.enfant.com/pictures/articles/2000/2677.gif"></a>
</li>
</ul>
</div>
</div>