<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css">
  </head>
  <body>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>
<script src="/assets/jquery-cookie/jquery.cookie.js"></script>


<div class="main">

<div class="searchbar"><button id="logout" class="logout">Déconnexion</button></div>
<div class="profile-picture"><img src="/assets/images/profiledefault.jpg"></div>
<div class="description">
<div id="case">

<ul>

<li id="orientation"><div style="border-bottom: 1px solid rgba(0, 0,0, 0.2)"><h1>Orientation</h1><h2>.</h2><img src="/assets/images/couple-in-love.png"></div></li>

<li id="sexe"><div style="border-bottom: 1px solid rgba(0, 0,0, 0.2)"><h1>Sexe</h1><h2>.</h2><img src="/assets/images/gender.png"></div></li>

<li id="score"><div style="border-bottom: 1px solid rgba(0, 0,0, 0.2)"><h1>Popularité</h1><h2>20</h2><img src="/assets/images/score.png"></div></li>

</ul>

</div>

<div class="barrevertical"></div>

<div id="case2">
<ul>
<li id="prenom"><div style="border-bottom: 1px solid rgba(0, 0,0, 0.2)"><h1>Prénom</h1><h2>Louis</h2><img src="/assets/images/user-name.png"></div></li>

<li><div style="border-bottom: 1px solid rgba(0, 0,0, 0.2)"><h1>Âge</h1><h2>20 ans</h2><img src="/assets/images/age.png"></div></li>

<li><div style="border-bottom: 1px solid rgba(0, 0,0, 0.2)"><h1>Ville</h1><h2>Paris</h2><img src="/assets/images/city.png"></div></li>
</ul>

</div>
</div>
<div id="bio"><p>Cum no audiam omnesque, cibo dicunt te ius, quaerendum deterruisset ex pro. Pro in porro maiorum salutandi, est mutat inani reprehendunt ea. Duo ea placerat dignissim, nostro tamquam interesset est ex. Odio vitae mea te, ei graeco gubergren sea. His nonumes minimum no, qui ad eros harum quando.
</p></div>

</div>



</body>
</html>
