<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/signin_signup.css">
  </head>
  <body>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="/assets/js/signin_signup.js"></script>
<script src="/assets/jquery-cookie/jquery.cookie.js"></script>

<div id="areachoice" class="maindiv">
<div id="connexion" class="sign_in_up">
<span>Connexion</span></div>
<div class="empty_space"></div>
<div id="inscription" class="sign_in_up">
<span>Inscription</span></div>
</div>

</body>
</html>